<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header(title='allDogs')">
</head>  
<body>
            
    <div th:replace="fragments/main::displayPost"></div>
            
	<h1>All dogs</h1><br/><br/>
	
	
	<table>
	  	<thead>
        	<tr class="dogTable">
        		<th th:text="'Id'"></th>   
            	<th th:text="'Name'"></th>
            	<th th:text="'Breed'"></th>
            	<th th:text="'Age'"></th>     
        	</tr>
      	</thead>
		<tbody>
        	<tr th:each="dog : ${dogs}">
          		<td th:text="${dog.id}"></td>
       	  		<td th:text="${dog.name}"></td>
       	  		<td th:text="${dog.breed}"></td>
       	  		<td th:text="${dog.age}"></td>
        	</tr>
        </tbody>
	</table>
	
	
</body>
</html>